<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.autism_training">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LanguageTherapyAssistanceForAutisticChildren">
        <activity
            android:name=".Identification_Activity"
            android:exported="false" />
        <activity
            android:name=".Identification_Question_selection"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".deck.DeckActivity"
            android:exported="false"
            android:label="@string/title_activity_deck" />
        <activity
            android:name=".card.CardActivity"
            android:exported="false"
            android:label="@string/title_activity_card" />
        <activity
            android:name=".ModuleActivity"
            android:exported="false"
            android:label="@string/title_activity_module" />
    </application>

</manifest>